<div class="container">
  <%= for book <- @books do %>
    <div class="row">
      <div class="column"><%= book.title %></div>
      <div class="column"><%= book.image_url %></div>
      <div class="column"><%= book.price %></div>
    </div>
  <% end %>
</div>
