<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Storex · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <%= link to: Routes.book_path(@conn, :index) do %>
            <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Storex logo"/>
          <% end %>
        </div>
        <div class="top-bar-right">
          <ul class="menu align-right">
            <%= if @current_user do %>
              <li><%= @current_user.full_name %></li>
            <% else %>
              <li><%= link "sign up", to: Routes.user_path(@conn, :new) %></li>
              <li><%= link "sign in", to: Routes.session_path(@conn, :new) %></li>
            <% end %>
            <li>
            <%= if items_count(@conn) do %>
              <%= link to: Routes.cart_path(@conn, :show), class: "tiny button" do %>
                cart <span class="alert badge"><%= items_count(@conn) %></span>
              <% end %>
            <% end %>
          </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="grid-container fluid">
      <br>
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="success label" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert label" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
