<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Storex · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-left">
          <a href="#">
            <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Storex logo"/>
          </a>
        </div>
      </div>
    </header>
    <div class="grid-container fluid">
      <br>
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="success label" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert label" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
